<form [formGroup]="dataFormGroup" novalidate>
  <label style="margin:10px 0 0 10px;" for="NombrePokemon"
    ><span> Buscar Pokemon por Nombre:</span></label
  >
  <br />
  <input
    id="NombrePokemon"
    style="margin:10px 0 0 10px;"
    type="text"
    formControlName="inputNombrePokemon"
  />
  <button
    (click)="NombrePokemonBuscador()"
    style="margin-left: 10px; background-color:skyblue"
  >
    Buscar
  </button>
  <button
    (click)="limpiarBuscador()"
    style="background-color:Red; margin-left:10px;color:white "
  >
    Borrar
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let listaPokemon of PokemonLista">
        <tr>
          <td>{{ listaPokemon.id }}</td>
          <td>{{ listaPokemon.name }}</td>
          <td>
            <ng-container
              *ngFor="let tipo of listaPokemon.types; let isLast = last"
            >
              {{ tipo.type.name }}
              <span *ngIf="!isLast">, </span>
            </ng-container>
          </td>
          <td>
            <img
              src="{{ listaPokemon.sprites.front_default }}"
              alt="Imagen de {{ listaPokemon.name }}"
            />
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <label style="margin:10px 0 0 10px;" for="NombrePokemon"
    ><span> Buscar Pokemon por Poder:</span></label
  >
  <br />
  <input
    type="text"
    style="margin:10px 0 0 10px;"
    formControlName="inputTextoInicial"
  />
</form>
